input {
    padding: 10px;
    border: 1px solid #f9dada;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    border-color: #5c9eff;
    box-shadow: 0 0 0 2px #5c9eff;
  }

  .label-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label-checkbox .checkbox {
    margin-right: 5px;
  }
  
  
  button {
    padding: 10px 20px;
    background-color: #5c9eff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #407ae3;
  }
  
  .error {
    color: rgb(239, 95, 95);
  }

  .login-form {
    text-align: center;
    /* display: flex; */
    justify-content: center;
    line-height: 50px;
    /* align-items: center; */
    height: 100vh;
  }
  .home{
    text-align: center;

  }